<!DOCTYPE html>
<html lang="<%= req.language %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="STEMREF | Course Content Page.">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net https://cdnjs.cloudflare.com; font-src 'self' https://fonts.gstatic.com https://cdnjs.cloudflare.com; script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net;"> -->
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DTZ0K15FEB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DTZ0K15FEB');
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700;900&family=Tulpen+One&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/libs/bootstrap.min.css"> 
    <!-- font awesome Library -->
    <link rel="stylesheet" href="/libs/all.css"> 
    <link rel="stylesheet" href="/libs/all.min.css"> 
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="/libs/sweetalert2.min.css">
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/assets/imgs/logo-min.svg">
    <!-- CSS  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/courseContent.css">
      <title>STEMREF | Course Content Page</title>
  </head>
  <body>
    <main>
      
      <%- include('partials/header.ejs') %>
          
        <div class="overlap">
          <div class="container">
            <div class="box">
              <div class="motivation-img">
                <%if(data.catograySearch){%>
                  <img src="/assets/imgs/<%= data.bgIconUse[data.catograySearch]%>" alt="img">
                  <%}%>
                <%if(!data.catograySearch){%>
                  <img src="/assets/imgs/undraw_mathematics_-4-otb.svg" alt="img">
                  <%}%>
              </div>
              <div class="descritpion" >
                <h2>Description</h2>
                <p><%= data.course.description %></p>
              </div>
              <% if((!data.catograySearch)){ %>
                <a style="color: white;" href="/search"><i class="fa-solid fa-arrow-left"></i></a>
                <% } %>
              <% if((data.catograySearch)){ %>
                <a style="color: white;" href="/courseContent/<%=data.course.name%>"><i class="fa-solid fa-arrow-left"></i></a>
                <% } %>
                
          <div class="top-text">
            <h1><%= data.course.name %><span><%= data.catograySearch %></span></h1>
            <div class="tags">
                <!-- <div class="tag">course</div> -->
                <!-- <div class="tag">CS205</div> -->
                <% for(let tag of data.course.tags){ %>
                  <div class="tag"><%= tag %></div>
                <% } %>
            </div>
            <div class="rating">
              <% if(data.avg>0){ %>
                <i class="fa-solid fa-star <%= data.color %>"></i>
                <%for(let i=1;i<Math.floor(data.avg);i++){%>
                  <i class="fa-solid fa-star <%= data.color %>"></i>
                <% } %>
                <%for(let i=data.avg;i<5;i++){%>
                  <i class="fa-solid fa-star"></i>
                <% } %>

                <span class="ms-1"><%= data.avg %></span>
              <% }  %>

              <% if(data.avg<=0){ %>
                <i class="fa-solid fa-star"></i> No Rating
              <% } %>
            </div>
          </div>
          <div class="items">
            <% if(!data.catograySearch) { %>
              <% for(const [key, value] of Object.entries(data.course.content)){ %>
                <a class="item" href="<%= data.course.name +'/'+key %>"  title="<%= key %>">
                  <div class="item-title"><%= key %>  <i class="<%= data.icons[key]%>"></i> <i class="<%= data.icons[key]%> mask"></i></div>
                  <i class="fa-solid fa-chevron-down fa-rotate-270"></i>
                </a>          
              <% } } %>
              <% if(data.catograySearch){ %>
                <% for(let {name, url} of data.course.content[data.catograySearch]){ %>
                    <a class="item" href="<%= url %>" target="_blank"  title="<%= name %>">
                      <div class="item-title"><%= name %><i class="<%= data.icons[data.catograySearch]%>"></i></div>
                      <i class="fa-solid fa-chevron-down fa-rotate-270"></i>
                    </a>          
                  <% }  %>
            <% } %>
            <div class="discussionBox row hide">
              <div class="discussions col-12">
                <div class="message">not work</div>
              </div>
                <div class="message-tools input-group mb-3">
                  <input type="text" class="form-control" placeholder="Write Message..." aria-label="" aria-describedby="basic-addon1">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-paper-plane"></i></button>
                  </div>
                </div>
            </div>
            </div>
            <div class="bottom-box">
              <div class="tools">
                <button class="review-btn" title="Review"><i class="fa-solid fa-star btn"></i></button>
                <!-- TODO: change review to popup review with message -->
                <div class="stars hide ">
                  <input type="radio" name="start" id="star1" data-num-star="5"><label for="star1"><i class="fa-solid fa-star"></i></label>
                  <input type="radio" name="start" id="star2" data-num-star="4"><label for="star2"><i class="fa-solid fa-star"></i></label>
                  <input type="radio" name="start" id="star3" data-num-star="3"><label for="star3"><i class="fa-solid fa-star"></i></label>
                  <input type="radio" name="start" id="star4" data-num-star="2"><label for="star4"><i class="fa-solid fa-star"></i></label>
                  <input type="radio" name="start" id="star5" data-num-star="1"><label for="star5"><i class="fa-solid fa-star"></i></label>
                </div>
                <!-- Suggession: make button change description to reviews -->
                <button class="discussion-btn" title="Discussion"><i class="fa-solid fa-message btn"></i></button>
              </div>
              <div class="date">
                <p><%= data.course.showDate() %></p>
              </div>
            </div>
<!--       
            <div class="reviewBox">
              <a href=""></a>
            </div> -->
          </div>
        </div>
      </div>
    </main>
    <!-- Bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
    <footer class="text-center w-100">
      <p>Created by <a href="https://github.com/A222moq3e/STEMREF/" target="_blank">STEMREF Team</a></p>
   </footer>
   <!-- Google tag (gtag.js) -->
    <!-- Bootstrap JS -->
   <script src="/libs/bootstrap.min.js"></script>
    <!-- SweetAlert2 JavaScript -->
    <script src="/libs/sweetalert2.all.min.js"></script>
    <!-- font awesome Library -->
    <script src="/libs/all.min.js"> </script>
    <script src="/js/main.js" type="module"></script>
    <script src="/js/courseContent.js"></script>

    <div class="waves" ></div>
  </body>
</html>
