

<!DOCTYPE html>
<html lang="<%= req.language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="STEMREF | Educator Page.">
    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src * data:; style-src * 'unsafe-inline'; font-src *; script-src * 'unsafe-inline' 'unsafe-eval';">    <!-- Google Fonts -->
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DTZ0K15FEB"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
    
          gtag('config', 'G-DTZ0K15FEB');
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Inter:wght@100;500;700;900&family=Roboto:wght@100;300;500&family=Rubik:wght@300;500;700;900&family=Tulpen+One&display=swap" rel="stylesheet"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/libs/bootstrap.min.css"> 
    <!-- Font Awesom -->
    <link rel="stylesheet" href="/libs/all.min.css"> 
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="/libs/sweetalert2.min.css">
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/assets/imgs/logo-min.svg">
    <!-- CSS  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/EducatorDashboard.css">
    <title>STEMREF | Educator Page</title>
    <style>
        .container form input{
            background-color: transparent;
        }
    </style>
  

</head>
<body>
    <main>
        <% if(typeof data !== 'undefined'){%>
            <% if(typeof data.acc!== 'undefined'){ %>
                <script type="module">
                    Swal.fire({
                        title: '<%= data.acc %> !',
                        text: 'Course <%= data.acc %> Successfully',
                        icon: 'success',
                        confirmButtonText: 'Thank You',
                        customClass: {
                            confirmButton: 'button-style'
                        }
                      }) 
                </script>
            <% } } %>
            <%- include('partials/header.ejs') %>
        <div class="box">
            <div class="container">
                <form action="/EducatorDashboard" method="post">
                    <div class="top-text">
                        <h1>Add new Course</h1>
                        <!-- <p class="hi-message">Welcom new Member</p> -->
                    </div>
                    <!-- CourseName input field -->
                    <div class="CourseName">
                        <label for="CourseName">Course Name</label>
                        <input type="text" id="CourseName" name="CourseName" >
                    </div>
                    <!-- Password input field -->
                    <div class="description">
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description">
                    </div>
                    <div class="tags">
                        <label for="tags">tags</label>
                        <input type="text" id="tags0" name="tags" placeholder="tag name" value="course" disabled>
                        <% for(let i=0; i<5;i++){ %>
                        <input type="text" id="tags<%i%>" name="tags" placeholder="tag name">
                        <% } %>

                    </div>
                    <div class="paid-course" style="cursor:pointer">
                        <label class="form-check-label" for="paidContent" >Paid Course</label>
                        <input class="form-check-input" type="checkbox" id="paidContent" name="paidContent">
                    </div>
                   <div class="content">
                    <%for(let i of ['Videos','Articles','Quizzes','Assignments','Others']){ %>
                        <div class="<%= i %> row" id="<%= i %>">
                            <label for="<%= i %>  col-12"><%= i %> </label>
                            <input class="col-6" type="text" name="<%= i %>" placeholder="name" >
                            <input class="col-6" type="text" name="<%= i %>Url" placeholder="url">
                            <div class="btn add-field"><i class="fa-solid fa-plus"></i>Add Field</div>
                        </div>
                    <%}%>

<!-- 
                    <div class="Video row" id="Video">
                        <label for="Video col-12">Video</label>
                        <% for(let i=0; i<1;i++){ %>
                        <input class="col-6" type="text" name="Video" placeholder="name" >
                        <input class="col-6" type="text" name="VideoUrl" placeholder="url">
                        <% } %>
                        <button class="btn"><i class="fa-solid fa-plus"></i>Add Field</button>
                    </div>
                    <div class="articles row">
                        <label for="articles col-12">Articles</label>
                        <% for(let i=0; i<5;i++){ %>
                        <input  class="col-5"  type="text" name="article" placeholder="name">
                        <input  class="col-5"  type="text" name="articlesUrl" placeholder="url">
                        <% } %>
                    </div>
                    <div class="quizzes row">
                        <label for="quizzes col-12">Quizzes</label>
                        <% for(let i=0; i<5;i++){ %>
                        <input  class="col-5" type="text" name="quizzes" placeholder="name">
                        <input  class="col-5" type="text" name="quizzesUrl" placeholder="url">
                        <% } %>
                    </div>
                    <div class="assignments row">
                        <label for="assignments col-12">Assignments</label>
                        <% for(let i=0; i<5;i++){ %>
                        <input  class="col-5" type="text" name="assignments" placeholder="name">
                        <input  class="col-5" type="text" name="assignmentsUrl" placeholder="url">
                        <% } %>
                    </div>
                    <div class="others row">
                        <label for="others col-12">Others</label>
                        <% for(let i=0; i<5;i++){ %>
                        <input  class="col-5" type="text" name="others" placeholder="name">
                        <input  class="col-5" type="text"name="othersUrl" placeholder="url">
                        <% } %>
                    </div> -->
                   </div>
                    <button class="button-style">Insert</button>
                    
                </form>
            </div>
        </div>
    </main>
    <footer class="text-center w-100">
        <p>Created by <a href="https://github.com/A222moq3e/STEMREF/" target="_blank">STEMREF Team</a></p>
     </footer>
    <!-- Bootstrap JS -->
    <script src="/libs/bootstrap.min.js"></script>
    <!-- SweetAlert2 JavaScript -->
    <script src="/libs/sweetalert2.all.min.js"></script>
    <!-- font awesome Library -->
    <script src="/libs/all.min.js"> </script>
    <script src="/js/main.js"></script>
    <script src="/js/EducatorDashboard.js"></script>
    <div class="waves" ></div>

</body>
</html> 