

<!DOCTYPE html>
<html lang="<%= req.language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="STEMREF | Forget Page.">
    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src * data:; style-src * 'unsafe-inline'; font-src *; script-src * 'unsafe-inline' 'unsafe-eval';">    <!-- Google Fonts -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DTZ0K15FEB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DTZ0K15FEB');
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Inter:wght@100;500;700;900&family=Roboto:wght@100;300;500&family=Rubik:wght@300;500;700;900&family=Tulpen+One&display=swap" rel="stylesheet"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/libs/bootstrap.min.css"> 
    <!-- Font Awesom -->
    <link rel="stylesheet" href="/libs/all.min.css"> 
     <!-- SweetAlert2 CSS -->
     <link rel="stylesheet" href="/libs/sweetalert2.min.css">
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/assets/imgs/logo-min.svg">
    <!-- CSS  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
        <title>STEMREF | Forget Page</title>
</head>
<body>
    <main>

      <%- include('partials/header.ejs') %>
        <div class="box">
            <div class="container">
            <% if (!data.ok){ %>
            <form action="/forget" method="post">
              <div class="top-text">
                  <h1><%= t('LOGINPAGE.Forget Passowrd') %></h1>
                  <p class="hi-message"><%= t('LOGINPAGE.Don\'t worry') %></p>
              </div>
              <!-- email input field -->
              <div class="email password">
                  <input type="email" id="email" name="email" required>
                  <label for="email"><%= t('LOGINPAGE.Email') %></label>
              </div>
              <button class="button-style"><%= t('Send') %></button>
          </form>
          <% } %>
          <% if(data.ok){ %>
          <div class="sended">
            <%= t('LOGINPAGE.Email sended successfuly!, check your email') %>
            <!-- <br> -->
            <!-- <a href="/login">back to login</a> -->
          </div>
          <% } %>
            </div>
        </div>
    </main>
    <footer class="text-center w-100">
      <p>Created by <a href="https://github.com/A222moq3e/STEMREF/" target="_blank">STEMREF Team</a></p>
   </footer>
   <div class="waves" ></div>
   
      <!-- Bootstrap JS -->
    <script src="/libs/bootstrap.min.js"></script>
    <!-- SweetAlert2 JavaScript -->
    <script src="/libs/sweetalert2.all.min.js"></script>
    <!-- font awesome Library -->
    <script src="/libs/all.min.js"> </script>
    <script src="/js/main.js"></script>

</body>
</html> 