<!DOCTYPE html>
<html lang="<%= req.language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="STEMREF | Main Page.">
      <!-- Google Fonts -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DTZ0K15FEB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DTZ0K15FEB');
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; script-src 'self' https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js 'unsafe-inline' 'unsafe-eval'; style-src * 'unsafe-inline';"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/libs/bootstrap.min.css">
    <!-- font awesome Library -->
    <link rel="stylesheet" href="/libs/all.min.css"> 
    <!-- SweetAlert2 CSS -->
     <link rel="stylesheet" href="/libs/sweetalert2.min.css">
     <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/assets/imgs/logo-min.svg">
    <!-- CSS  -->
    <!-- <link rel="stylesheet" href="/bg.css"> -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>STEMREF | Main Page</title>
</head>
<body>
    <!-- <div class="bg-gradient">
        <div class="gradient"></div>
    </div> -->
    <main class="en">
        <%- include('partials/header.ejs') %>
        <div class="intro-box">
            <div class="container">
                <% if(!data.accesses){ %>
                <div class="text">
                    <h1><%= t('HOMEPAGE.DISCOVER') %></h1>
                     <h2><%- t('HOMEPAGE.SecondLine') %></h2>
                    <h3><%= t('HOMEPAGE.is at your fingertips!') %></h3>
                </div>
                <a href="/register" class="get-started button-style btn btn-primary"><%= t('HOMEPAGE.Get Started') %></a>
                <% } %>
                <% if(data.accesses){ %>
                <div class="text">
                    <h1><%= t('HOMEPAGE.WELCOME') %> <span><%= data.user.name %></span></h1>
                    <h2><%- t('HOMEPAGE.SecondLine') %></h2>
                    <h3><%= t('HOMEPAGE.is at your fingertips!') %></h3>
                </div>
                <a href="<%= data.user.userType==='admin'? '/admin' : data.user.userType==='educator'? '/educatorDashboard' : '/search' %>" class="get-started button-style btn btn-primary"><%= t("HOMEPAGE.Let's Learn") %></a>
                <% } %>
            </div>
        </div>
    </main>


    <%- include('partials/footer') %>
    <div class="waves" ></div>
    <!-- Bootstrap JS -->
    <script src="/libs/bootstrap.min.js"></script>
    <!-- SweetAlert2 JavaScript -->
    <script src="/libs/sweetalert2.all.min.js"></script>
    <!-- font awesome Library -->
    <script src="/libs/all.min.js"> </script>
    <script src="/js/main.js"></script>
</body>
</html>
