

<!DOCTYPE html>
<html lang="<%= req.language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="STEMREF | Login Page.">
    <!-- Google Fonts -->
    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src * data:; style-src * 'unsafe-inline'; font-src *; script-src * 'unsafe-inline' 'unsafe-eval';">    <!-- Google Fonts -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DTZ0K15FEB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-DTZ0K15FEB');
    </script>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Inter:wght@100;500;700;900&family=Roboto:wght@100;300;500&family=Rubik:wght@300;500;700;900&family=Tulpen+One&display=swap" rel="stylesheet"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/libs/bootstrap.min.css"> 
    <!-- Font Awesom -->
    <link rel="stylesheet" href="/libs/all.min.css"> 
    <!-- Add SweetAlert2 CSS -->
    <link rel="stylesheet" href="/libs/sweetalert2.min.css">
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/assets/imgs/logo-min.svg">
    <!-- CSS  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
        <title>STEMREF | Login Page</title>
</head>
<body>
    <main>
        <% if(typeof data !== 'undefined'){%>
        <% if(typeof data.err!== 'undefined'){ %>
            <script type="module">
                Swal.fire({
                    title: 'Error!',
                    text: '<%= data.err %>',
                    icon: 'error',
                    confirmButtonText: 'Ok',
                    customClass: {
                        confirmButton: 'button-style'
                      }
                  }) 
            </script>
        <% } } %>


        <%- include('partials/header.ejs') %>
        <div class="box">
            <div class="container">
                <form action="/login" method="post">
                    <div class="top-text">
                        <h1><%= t('Login')%></h1>
                        <p class="hi-message"><%= t('LOGINPAGE.Glad you are back') %></p>
                    </div>
                    <!-- Username input field -->
                    <div class="username">
                        <input type="text" id="username" name="username" autocomplete="username" required>
                        <label for="username"><%= t('LOGINPAGE.Username') %></label>
                    </div>
                    <!-- Password input field -->
                    <div class="password">
                        <input type="password" id="password" name="password" required>
                        <label for="password"><%= t('LOGINPAGE.Password') %></label>
                        <i class="fa-solid fa-eye eye"></i>
                        <i class="fa-solid fa-eye-slash eye hide"></i>
                    </div>
                    <div class="remember">
                        <label for="remb" class="form-check-label"><%= t('LOGINPAGE.Remember me') %></label>
                        <input type="checkbox" class="form-check-input" name="remb" id="remb">
                    </div>
                    <a href="/forget"><%= t('LOGINPAGE.Forget Password?') %></a>
                    <!-- <a href="/register">%= t('Don't have Account?</a> -->
                    <button class="button-style"><%= t('Login') %></button>
                    <div class="seprator">
                        <span><%= t('or') %></span>
                    </div>
                    <div class="Oauth-items">
                        <!-- <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-github"></i> -->
                        <img src="/assets/imgs/google.svg" alt="google">
                        <img src="/assets/imgs/linkedin.svg" alt="linkedin">
                        <img src="/assets/imgs/github.svg" alt="github">

                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="text-center w-100">
        <p>Created by <a href="https://github.com/A222moq3e/STEMREF/" target="_blank">STEMREF Team</a></p>
     </footer>
     <div class="waves" ></div>
    <!-- Bootstrap JS -->
    <script src="/libs/bootstrap.min.js"></script>
    <!-- SweetAlert2 JavaScript -->
    <script src="/libs/sweetalert2.all.min.js"></script>
    <!-- font awesome Library -->
    <script src="/libs/all.min.js"> </script>
    <script src="/js/main.js"></script>
    <script src="/js/login.js"></script>
</body>
</html> 