<!DOCTYPE html>
<html lang="<%= req.language %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="STEMREF | Profile Page.">
    <!-- Google Fonts -->
    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src * data:; style-src * 'unsafe-inline'; font-src *; script-src * 'unsafe-inline' 'unsafe-eval';">    <!-- Google Fonts -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DTZ0K15FEB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DTZ0K15FEB');
    </script>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Inter:wght@100;500;700;900&family=Roboto:wght@100;300;500&family=Rubik:wght@300;500;700;900&family=Tulpen+One&display=swap" rel="stylesheet"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/libs/bootstrap.min.css"> 
    <!-- font awesome Library -->
    <link rel="stylesheet" href="/libs/all.min.css"> 
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="/libs/sweetalert2.min.css">
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/assets/imgs/logo-min.svg">
    <!-- CSS  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
        <title>STEMREF | Profile Page</title>
  </head>
  <body>
    <main>
      <%- include('partials/header.ejs') %>
          <section class="profile">
            <div class="container">
              <div class="imgBox">

                <img src="/assets/imgs/avatars/avatar3.svg" class="rounded-circle navbar-user-avatar " style="width: 100px;">
                <i class="fa-solid fa-pen-to-square"></i>
              </div>
                <!-- <input class="disable" value="<%= data.user.name %>"> -->
                <div class="textContent">
                  <h3 class="disable" ><%= t('LOGINPAGE.Username') %>: <input type="text" value="<%= data.user.name %>" placeholder="@"></h3>
                <h3 class="disable" ><%= t('LOGINPAGE.Email') %>: <input type="email" value="<%= data.user.email  %>"></h3>
                <h3 class="disable" ><%= t('PROFILEPAGE.Subscribe') %>: <span><%= t(`PROFILEPAGE.${data.user.paidUser==true?data.user.paidUser:false}`) %></span></h3>
                <% if(data.user.reviewed){ %>
                  <h3><%= t('PROFILEPAGE.Your Reviews') %>:</h3>
                  <div class="reviewes">
                    <table class="table table-striped table-dark">
                      <thead>
                        <th><%= t('PROFILEPAGE.Subject') %></th>
                        <th><%= t('PROFILEPAGE.Reivew') %></th>
                      </thead>
                      <tbody class="review">
                    <% for(let review of Object.keys(data.user.reviewed)){ %>
                      <tr>
                        <td>
                          <%= review %>
                        </td>
                        
                        <td>
                          
                        <%for(let i=0;i<data.user.reviewed[review];i++){%>
                          <i class="fa-solid fa-star active"></i>
                        <% } %>
                        <%for(let i=data.user.reviewed[review];i<5;i++){%>
                          <i class="fa-solid fa-star"></i>
                        <% } %>
                        
                        <%= data.user.reviewed[review] %>
                      </td>
                    </tr>
                    <% } %>
                      </tbody>        
                      </table>
                  </div>
              <% } %>
              </div>
                <!-- <button class="button-style">update</button> -->
                
            </div>
          </section>
    </main>
    
    <footer class="text-center w-100">
      <p>Created by <a href="https://github.com/A222moq3e/STEMREF/" target="_blank">STEMREF Team</a></p>
   </footer>

    <!-- Bootstrap JS -->
   <script src="/libs/bootstrap.min.js"></script>
    <!-- SweetAlert2 JavaScript -->
    <script src="/libs/sweetalert2.all.min.js"></script>
    <!-- font awesome Library -->
    <script src="/libs/all.min.js"> </script>
    <script src="/js/main.js"></script>
    <script src="/js/search.js"></script>
    <div class="waves" ></div>
  </body>
</html>
