<!DOCTYPE html>
<html lang="<%= req.language %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="STEMREF | Search Page">
    <!-- Google Fonts -->
    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src * data:; style-src * 'unsafe-inline'; font-src *; script-src * 'unsafe-inline' 'unsafe-eval';">    <!-- Google Fonts -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DTZ0K15FEB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-DTZ0K15FEB');
    </script>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Inter:wght@100;500;700;900&family=Roboto:wght@100;300;500&family=Rubik:wght@300;500;700;900&family=Tulpen+One&display=swap" rel="stylesheet"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/libs/bootstrap.min.css"> 
    <!-- font awesome Library -->
    <link rel="stylesheet" href="/libs/all.min.css"> 
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="/libs/sweetalert2.min.css">
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/assets/imgs/logo-min.svg">
    <!-- CSS  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/search.css">
        <title>STEMREF | Search Page</title>
  </head>
  <body>
    <main>
      <%- include('partials/header.ejs') %>
        <div class="container">
            <!-- <form class="search-bar mt-2" action="/search" method="get">
                <input type="text" placeholder="Search" name="q">
            </form> -->
            <form class="search-tools w-100 mt-2 mb-2">

              <div class="search-bar w-100 p-0 mb-2" action="/search" method="get" data-bs-theme="dark">
                <!-- <img class="vector" src="img/vector.svg" /> -->
                <input  class="form-control"  type="search" placeholder="Search"  aria-label="Search" name="q">
              </div>
             <div class="control-results d-flex justify-content-between">
              <select class="sort-select form-select rounded-pill" aria-label="select sort"  data-bs-theme="dark" name="sort" onchange="this.form.submit()">
                <% for(let j of Object.keys(sortTranslator)){%>
                  <option <% if(sort == j){ %> selected <% } %> value=<%= j %>><%= t(`SEARCHPAGE.${j}`) %></option>
                  <% } %>
                  <!-- <i class="fa-solid fa-arrow-up-wide-short"></i> -->
                </select>
                <div class="filter">
                  <span><%= t('SEARCHPAGE.filter') %> </span><i class="fa-solid fa-filter"></i>
                </div>
             </div>
            </form>
            <div class="text-about-courses w-100">
                <% if(q){ %>
                <h1 class="m-0 d-none d-md-block">Search For: <%= q %></h1>
                <%}%>
                <% if(!q) {%>
                <h1 class="m-0 d-none d-md-block"><%= data.length %> Courses</h1>
                <%}%>
                
            </div>
          <div class="courses row pb-5 w-100 position-relative">
            <% for(let course of data){ %>
            <div class="item col-md-3 col-lg-2  col-5 h-100" data-course-name="<%= course.name %>" title="<%= course.name %>">
                <div class="title"><%= course.name %></div>
                <div class="tags">
                  <div class="tag">course</div>
                  <!-- <div class="tag">CS205</div> -->
                  <% let i=1 %>
                  <% for(const tag of course.tags){ %>
                    <%if(i++>=3){%>
                      <div class="tag" title="there is more tag">..+</div>
                      <% break %>
                    <% } %>
                    <div class="tag"><%= tag %></div>
                  <% } %>
                </div>
                <p>
                    <%= course.description %>
                </p>
              </div>
              <% }%>
            <div class="loading position-absolute w-100 h-100" style="background-color: #232323;">
              <div class="loader"></div> 
            </div>

          </div>
        </div>
   


    </main>
    <%- include('partials/footer') %>
    <!-- Bootstrap JS -->
    <script src="/libs/bootstrap.min.js"></script>
    <!-- SweetAlert2 JavaScript -->
    <script src="/libs/sweetalert2.all.min.js"></script>
    <!-- font awesome Library -->
    <script src="/libs/all.min.js"> </script>
    <script src="/js/main.js"></script>
    <script src="/js/search.js"></script>
    <div class="waves" ></div>
  </body>
</html>
